<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Client Manager</title>
</head>
<body>
<div align="center">
    <h1>Edit Company</h1>
    <br/>
    <a th:href="@{/company/list}">Go to View Companies</a>

    <form action="#" th:action="@{/company/update}" th:object="${company}" method="post">
        <input type="hidden" th:field="*{id}" th:attr="name='id'"/>

        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" maxlength="30"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}" maxlength="150"/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{address}" maxlength="150"/></td>
            </tr>
            <tr>
                <td>Trunk:</td>
                <td><input type="checkbox" th:field="*{trunk}"/></td>
            </tr>
            <tr>
                <td>Select a Company</td>
                <td>
                    <select th:field="*{parent.id}">
                        <option value="">None</option>
                        <option th:each="company : ${companies}"
                                th:value="${company.id}"
                                th:text="${company.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>